* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.clr {
    color: #f58220;
}

.size-11 {
    font-size: 11px;
}

.size-12 {
    font-size: 12px;
}

.size-13 {
    font-size: 13px;
}

.size-14 {
    font-size: 14px;
}

.size-15 {
    font-size: 15px;
}

.size-16 {
    font-size: 16px;
}

.size-17 {
    font-size: 17px;
}

.size-18 {
    font-size: 18px;
}

.size-19 {
    font-size: 19px;
}

.size-20 {
    font-size: 20px;
}

.size-21 {
    font-size: 21px;
}

.size-22 {
    font-size: 22px;
}

.size-23 {
    font-size: 23px;
}

header {
    height: 80px;
    position: relative;
    z-index: 400;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 20px;
}

.logo img {
    margin-top: 10px;
    height: 60px;
}

label {
    font-weight: normal;
}

a:hover, a:visited, .link, a:focus {
    text-decoration: none;
}

input[type=checkbox], input[type=radio], label {
    cursor: pointer;
}

#tools, #box {
    margin-top: 20px;
}
    #tools .tool-grop {
        width: 100%;
        border: 1px solid rgb(224, 224, 224);
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        margin-bottom: 25px;
        border-radius:5px;
    }
        #tools .tool-grop h4 {
            display: table;
            position: absolute;
            top: -26px;
            left: 15px;
            background-color: #FFF;
            padding: 0 10px;
        }
    #tools .item, #box .item, #box .item-old {
        display: inline-block;
        width: 176px;
        height: 112px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #008e97;
        padding: 5px;
        margin: 5px 5px;
        vertical-align: top;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        color: inherit;
        transition: transform .2s;
    }

        #tools .item:hover, #box .active, #box .item:hover {
            -webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.05);
            -moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.05);
            box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.05);
            font-weight: 500;
        }

        #tools .item .icon {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #tools .item img {
            transition: transform .2s;
        }

        #tools .item:hover img {
            transform: scale(1.1);
        }
.frame {
    /*    min-height: calc(100vh - 235px);*/
    min-height: calc(100vh - 92px);
}
footer {
    position: relative;
    z-index: 400;
    border-top: 1px solid rgb(224, 224, 224);
    margin-top: 30px;
}

.copyright {
    background-color: rgb(244, 244, 244);
    padding-top:20px;
    padding-bottom:20px;
}
.Marks span::before {
    color: #00af50;
    content: "✓ ";
}
#tool-box {
    border-bottom: 2px dashed #008e97;
/*    padding-bottom: 20px;*/
    /*-webkit-box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.2);
    box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.2);*/
}
.tool-box {
    height:40px;
    margin-top: 18px;
    margin-left: 18px;
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
}
    .tool-box:hover {
        background-color: antiquewhite;
        opacity:0.8;
    }
    .tool-box:active{
        opacity:1;
    }
    .tool-box .txt {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }
    .tool-box .menu {
        font-size: 20px;
        line-height: 28px;
        color: #333;
    }
    .tool-box .icon {
        padding-top: 9px;
    }
    .tool-box .icon svg{
        height: 15px;
    }
    .tool-box .ico-open {
        display: block;
    }
    .tool-box .ico-close {
        display: none;
    }
    .tool-box.active {
        background-color: antiquewhite;
    }
    .tool-box.active .ico-open {
        display: none;
    }
    .tool-box.active .ico-close {
        display: block;
    }
.result-counter {
    margin-left: -15px;
}
.input-counter h3 span {
    line-height:15px;
}
.alert-about {
    border-color: rgb(224, 224, 224);
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}
.adSpaceWrapper {
    max-width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content:center;
}
#ads-header {
    display: inline-block;
    margin-top: 5px;
    width: 520px;
    height: 70px;
}
.frame-header {
    display: flex;
}
